@media screen and (min-width: 480px) {
  .left {
    width: 70%;
    max-width: 600px;
    color: white;
  }
  .container {
    flex-direction: column;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
  }
  
}

.container {
  flex-direction: row;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

  .navbar-custom {
    background-color: #0B0A0A;
    height: 10rem;
   
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
}

.navbar {
  font-size: 2.5rem;
  padding: 0.5rem 1rem;
}

.debug {
  height: 100%;
  /* background-color: red; */
}

.debug img {

    text-align: center;
    height: 4rem;
    width: auto;
}

body {

  width: 100%;
  background-color: #0B0A0A;
  padding-top: 4rem;
  max-width: 1720px;
  margin: 0 auto;
  padding: 1rem 2rem;
}



.yt-video {
  width: 100%;
  /* background-color: blueviolet; */
}



iframe, .space {
  width: 15vw;
  height: 15vw;
  min-width: 150px;
  min-height: 150px;
  display: block;
  border:none;
}

.a,.d {
   margin: 0 auto; 
}

.flex-em {
  display: flex;
  justify-content: center;
}

.c {
  transform: rotate(90deg);
}

.d {
  transform: rotate(180deg);
}

.b {
  transform: rotate(270deg);
}





.left {
  width: 70%;
  max-width: 600px;
  color: white;
}

.left button,.left a {
  background-color: #FFBD59;
  border-radius: 5rem;
  color: black;
  padding: 0.75rem 1.5rem;
  border: none;
}

.left h2 {
  font-weight: bold;
  font-size: 5rem;
}

.left p {
  font-size: 2rem;
  opacity: 0.7;
}


.right img {
  width: 100%;

}



.formclass{
margin-top: 15%;
color: white;
}


.button-5 {
  align-items: center;
  background-clip: padding-box;
  background-color:rgba(255, 192, 98, 1);
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: rgba(255, 192, 98, 1);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: rgba(255, 192, 98, 1);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


.button-6 {
  align-items: center;
  background-clip: padding-box;
  background-color: #6ad167;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  /* color: #fff; */
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  color: black;
}

.button-6:hover,
.button-6:focus {
  background-color: #6ad167;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #6ad167;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}